:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #7c6e6e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scorePanel {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #a59595;
  color: #1a1a1a;
  margin-bottom: 20px;
}

.current-container {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #442f2f;
  color: white;
  margin-bottom: 10px;
}

.max-container {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #442f2f;
  color: white;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #553d3d;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 450px;
  margin-bottom: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.gameField {
  position: relative;
  background: #e1ab9e;
  width: 450px;
  box-sizing: border-box;
  height: 450px;
  padding: 10px;
}

.gameBack {
  width: 430px;
  height: 430px;
  gap: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: absolute;

}

.gameTiles {
  width: 430px;
  height: 430px;
  position: absolute;
}

.row {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(4, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  background: #392828;
}

.tile {
  width: 100px;
  height: 100px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all .4s;
  left: 0;
  top: 0;
}

.tile {
  transition: all 0.15s ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 5px;
}

.tile-2 {
  background: #eee4da;
  color: #776e65;
}

.tile-4 {
  background: #ede0c8;
  color: #776e65;
}

.tile-8 {
  background: #f2b179;
  color: #f9f6f2;
}

.tile-16 {
  background: #f59563;
  color: #f9f6f2;
}

.tile-32 {
  background: #f67c5f;
  color: #f9f6f2;
}

.tile-64 {
  background: #f65e3b;
  color: #f9f6f2;
}

.tile-128 {
  background: #edcf72;
  color: #f9f6f2;
}

.tile-256 {
  background: #edcc61;
  color: #f9f6f2;
}

.tile-512 {
  background: #edc850;
  color: #f9f6f2;
}

.tile-1024 {
  background: #edc53f;
  color: #f9f6f2;
}

.tile-2048 {
  background: #edc22e;
  color: #f9f6f2;
}